<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @entryitem.description %>
</p>

<%= link_to 'Edit', edit_entryitem_path(@entryitem) %> |
<%= link_to 'Back', entryitems_path %>
